body{
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    top: 15%;
    color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, blue, red);
    
}
h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    color: rgba(0, 0, 0, .5);
    width: 100%;
}
h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    color: rgba(0, 0, 0, .5);
    width: 100%;
}